<div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-body">
    
    
    <h2>Ajouter universite</h2>
<form >

    <div class="card-body">
        <h4 class="card-title">Nom universite</h4>
        <div class="mt-4">
            <div class="form-group">
                <input type="text" [(ngModel)]="universite.nomUniv" class="form-control" name="nomUniv"  id="nomUniv" required >
            </div>
             <div class="alter alter-danger" *ngIf="nomUniv?.errors?.['required'] && nomUniv?.touched"> idDepart is required</div>
     
        </div >
    </div>
   
</form>
 
<h4 class="card-title">Nom Departement</h4>
 <div *ngFor="let n of numSequence(theValue)">
    <select  [(ngModel)]="selectedObject">
        <option *ngFor="let c of list"  [ngValue]="c" >{{c.nomDepart}}</option>

    </select>
</div>
<div>
    <input type="file" multiple value="select" #selectFile 
    (change)="onFileSelected($event)"
    >
</div> <br><br>

<div>
    <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile *ngFor="let file of universite.images; let i=index;">
            <div>
                <span class="btn-remove-image" (click)="removeImage(i)">x</span>
              
            <img [src]="file.url" width="100px" height="100px">
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
    <button type="submit" class="btn btn-primary" (click)="Add()">Ajouter</button>
</div>
</div>
</div>
</div>