<div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-body">
    
    
    <h2>Ajouter departement</h2>
<form [formGroup]="reactiveForm">

    <div class="card-body">
        <h4 class="card-title">Nom departement</h4>
        <div class="mt-4">
            <div class="form-group">
                <input type="text"formControlName="nomDepart" class="form-control" name="nomDepart"  id="nomDepart">
            </div>
            <div class="alter alter-danger" *ngIf="nomDepart?.errors?.['required'] && nomDepart?.touched"> idDepart is required</div>
    
        </div >
    </div>
    <button type="submit" class="btn btn-primary" (click)="Add()">Ajouter</button>
    </form>
     
</div>
</div>
</div>
</div>