

<h1 mat-dialog-title>Ajouter une Equipe</h1>

<div mat-dialog-content>

    <form [formGroup]="equipeForm">



    <mat-form-field appearance="outline">
        <mat-label>Nom equipe</mat-label>
        <input   formControlName="nomEquipe"   matInput placeholder="Nom" />


        <mat-error *ngIf="equipeForm.controls['nomEquipe'].touched && equipeForm.controls['nomEquipe'].hasError('required') ">
            nom de l'equipe est <strong> requis</strong>
        </mat-error>

        <mat-error *ngIf="equipeForm.controls['nomEquipe'].touched && equipeForm.controls['nomEquipe'].hasError('pattern') ">
            nom de l'equipe doit contenir que des <strong>lettres</strong>

        </mat-error>
        <mat-error *ngIf="equipeForm.controls['nomEquipe'].touched && equipeForm.controls['nomEquipe'].hasError('minlength') ">
             nom de l'equipe doit contenir au minimum <strong>3 lettres</strong>

        </mat-error>


    </mat-form-field>

    <label id="example-radio-group-label">Niveau</label>

    <mat-radio-group  formControlName="niveau"
     aria-labelledby="example-radio-group-label"   class="example-radio-group" >

        <mat-radio-button class="example-radio-button" *ngFor="let niveau of ListNveau" [value]="niveau" >
          {{niveau | lowercase}}
        </mat-radio-button>

        <mat-error *ngIf="equipeForm.controls['niveau'].touched && equipeForm.controls['niveau'].hasError('required') ">
            niveau est <strong> requis</strong>
       </mat-error>

    </mat-radio-group>



     <div mat-dialog-actions [align]="'end'">

        <button style="margin-right: 5px;" mat-raised-button color="warn" mat-dialog-close>Annuler</button>

        <button mat-raised-button color="primary"   [disabled]="!equipeForm.valid" (click)="addEquipe()"

        >{{actionButton}}</button>


     </div>












    </form>









</div>









