<div class="row">
    <div class="col-12">
        <div class="card">
            <div id="searchBar">
                <mat-card-title [ngStyle]="{'color': '#3f51b5'}">List Département</mat-card-title>

                <!-- BARRE DE RECHERCHE-->
                  <mat-form-field class="searchBar">
                    <input
                      matInput
                      placeholder="Search"
                      type="search"
                      class="align-text"
                      [(ngModel)]="libelle"
                    />
                    <span matSuffix><mat-icon>search</mat-icon></span>
                  </mat-form-field>
                  <button mat-raised-button color="primary" id="addButton" (click)="add()" >Ajouter un département</button>
                </div>
                <div id="table-container">
                    <div >
                        <!-- 5EDMET MOEZ -->
                        <table class=" table table-striped  table-hover mat-elevation-z8">
                            <tr>
                                <th>ID</th>
                          
                                <th>Departement</th>
                          
                                <th>Action</th>
                          
                            </tr>
                            <ng-container *ngFor="let e of list"> 
                                <tr [hidden]="!(e.nomDepart.toUpperCase().indexOf(libelle.toUpperCase()) != -1)">
                                    <td [ngClass]="e.idDepart<5? 'red' : 'blue'">
                                        {{e.idDepart}}
                                    </td>
                                    <td>
                                        {{e.nomDepart}}
                                    </td>
                                    <td>
                                        <button
                                          mat-button
                                          aria-label="Modify"
                                          matTooltip="Edit infos"
                                          [routerLink]="['update',e.idDepart]"
                                        >
                                          <mat-icon>edit</mat-icon>
                                        </button>
                                        <button
                                          mat-button
                                          aria-label="Delete"
                                          matTooltip="Delete"
                                          matTooltipClass="example-tooltip-red"
                                          (click)="DeleteDepart(e.idDepart)"
                                        >
                                          <mat-icon>delete</mat-icon>
                                        </button>
                                      </td>
                                </tr>
                            </ng-container>
                        </table>
                        
                    </div>
        </div>
    </div>
</div>
 