





<div class="row">
    <div class="col-12">
        <div class="card">
            <div id="searchBar">
    
                <!-- BARRE DE RECHERCHE-->
                  <mat-form-field class="searchBar">
                    <input
                      matInput
                      placeholder="Search"
                      type="search"
                      class="align-text"
                      [(ngModel)]="libelle"
                    />
                    <span matSuffix><mat-icon>search</mat-icon></span>
                  </mat-form-field>
                  <button mat-raised-button color="primary" id="addButton" routerLink="add">Ajouter universite</button>
                </div>
                <div id="table-container">
                    <div >
                        <!-- 5EDMET MOEZ -->
                        <table class=" table table-striped  table-hover mat-elevation-z8">
                            <tr>
                                <th>ID</th>
                          
                                <th>nom Universite</th>
                                <th>nom Departement</th>
                                <th>Action</th>
                          
                            </tr>
                            <ng-container *ngFor="let e of list"> 
                                <tr [hidden]="
                                !(e.nomUniv.toUpperCase().indexOf(libelle.toUpperCase()) != -1)
                              ">
                                    <td>
                                        {{e.idUniv}}
                                    </td>
                                    <td>
                                        {{e.nomUniv}}
                                    </td>
                                    <div *ngFor="let a of e.departements" >
                                      <td>{{a.nomDepart}}</td>
                                    </div>
                                    <td>
                                        <button
                                          mat-button
                                          aria-label="Modify"
                                          matTooltip="Edit infos"
                                          [routerLink]="['update',e.idUniv]"
                                        >
                                          <mat-icon>edit</mat-icon>
                                        </button>
                                        <button
                                          mat-button
                                          aria-label="Delete"
                                          matTooltip="Delete"
                                          matTooltipClass="example-tooltip-red"
                                          (click)="DeleteUniv(e.idUniv)"
                                        >
                                          <mat-icon>delete</mat-icon>
                                        </button>
                                      </td>
                                </tr>
                            </ng-container>
                        </table>
                        
                    </div>
                    <ul class="pagination"><li class="paginate_button page-item previous disabled" id="default_order_previous">
                            <a aria-controls="default_order" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li><li class="paginate_button page-item" *ngFor="let p of pages; let i=index">
                          
                            <button aria-controls="default_order" data-dt-idx="1" tabindex="0" class="page-link" (click)="setpage(p,$event)">{{p}}</button>
                        </li>
                        <li class="paginate_button page-item next" id="default_order_next"><a href="#" aria-controls="default_order" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul>
        </div>
    </div>
</div>
 