

input:hover{
    border: 1px solid blue;
}


textarea:hover{
    border: 1px solid blue;
}


input.ng-touched.ng-invalid{
    border: 1px solid red;
}
textarea.ng-touched.ng-invalid{
    border: 1px solid red;
}

.aclass{
    background-color: blue;
}



.styleText{
  font-size: 22px;
  font-weight: 400;
  color:  darkblue;
 padding-left: 26px
 

}
