


      <button style="margin-bottom: 10px; border-radius: 15px;margin-right: 20px;" mat-raised-button color="accent" (click)="openDialog()">
        <mat-icon>group_add</mat-icon>   <span style="padding-left: 7px;"> Ajouter equipe </span>
      </button> 
    
    

       <button style="margin-bottom: 10px; border-radius: 15px;;margin-right: 20px;" mat-raised-button color="primary" (click)="exportexcel()">
        <i class="fas fa-file-excel"></i>
        <span style="padding-left: 7px;"> Export to Excel</span></button>



        <button style="margin-bottom: 10px; border-radius: 15px;background-color: #5f76e8;" mat-raised-button color="primary" (click)="openPDF()">
          <i class="fas fa-file-pdf"></i>
          <span style="padding-left: 7px;">Download PDF</span></button>
  

  
        
  <div>
  
     <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
  </div> 
    
    <div class="mat-elevation-z8"  >
      <table mat-table [dataSource]="dataSource" matSort id="excel-table" >
  
  
          <ng-container matColumnDef="detail">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> detail </th>
              <td mat-cell *matCellDef="let row">
                      <button routerLink="detailsequipe/{{row.idEquipe}}" mat-icon-button color="primary">
                        <mat-icon> directions</mat-icon> 
                      </button>
  
  
                      
  
  
  
  
              </td>
          </ng-container>
    
        <!-- ID Column -->
        <ng-container matColumnDef="logo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> logo </th>
  
          <img *matCellDef="let row" src={{row.logo}} class="card-img-top" alt="..." >
  
        </ng-container>
    
        <!-- Progress Column -->
       
        <ng-container matColumnDef="nomEquipe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
          <td mat-cell *matCellDef="let row"> {{row.nomEquipe}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="mail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
          <td mat-cell *matCellDef="let row"> {{row.mail}} </td>
        </ng-container>
    
        <!-- Fruit Column -->
        <ng-container matColumnDef="niveau">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> niveau </th>
          <td mat-cell *matCellDef="let row"> {{row.niveau}} </td>
        </ng-container>
  
  
        <ng-container matColumnDef="nbrDesMembresMax">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> nombreMax</th>
          <td mat-cell *matCellDef="let row"> {{row.nbrDesMembresMax}} </td>
        </ng-container>
      
  
  
  
     
  
  
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
          <td mat-cell *matCellDef="let row">
              <div class="row">
                  <button (click)="editEquipe(row)" mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon> 
                  </button>
  
                  <button  (click)=" deleteEquipe(row.idEquipe)" mat-icon-button color="warn">
                     <mat-icon>delete</mat-icon> 
                  </button>
  
                 
          
              </div>
  
              
          </td>
        </ng-container>
  
  
  
  
        
        
  
        
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    
    
    

